!
hostname LANCS_18
!
timezone <+07>-7
!
interface logical lan
 dhcpv4-server enable
 dhcpv4-server leasetime 12h
 dhcpv4-server start 100 limit 150
 dhcpv6-server enable
 interface-name set eth1,eth2,eth3,eth4
 intervlan 10 ipaddr 192.168.10.1 netmask 255.255.255.0
 intervlan 111 ipaddr 192.168.111.1 netmask 255.255.255.0
 ip address 192.168.18.1 subnet 255.255.255.0
 ipv6 address fd00:aaaa:1111::1/64
 exit
!
interface logical wan
 interface-name set eth0
 ip address dhcp
 exit
!
interface physical eth0
 exit
!
interface physical eth1
 switchport access vlan 1 idvlan1
 exit
!
interface physical eth2
 switchport access vlan 1 idvlan1
 exit
!
interface physical eth3
 exit
!
interface physical eth4
 switchport access vlan 1 idvlan1
 exit
!
interface physical eth5
 switchport access vlan 1 idvlan1
 exit
!
vlan idvlan10 10
 exit
!
vlan idvlan111 111
 exit
!
packet-capture set id 1
 set interface wan
 set host "192.168.1.1, 10.0.0.1"
 set port "1111, 2222-2233"
 set vlan "10, 20"
 set protocol "TCP, UDP"
 set max-packet-count 3000
 exit
!
packet-capture set id 2
 set interface eth3
 set host "192.168.111.2, 10.10.20.1"
 set max-packet-count 3000
 exit
!
snmp infomation set status enable description "test snmp" sys-location office sys-contact lancs@gmail.com sys-name lancs
!
snmp v1/v2c set id 1 community lancs host 192.168.1.1 type accept-both
!
snmp v1/v2c set id 2 community lancs123 type accept-send-trap
!
snmp v3 set id 1 username admin security-level authNoPriv auth-type MD5 auth-pass Lancs@2024
!
snmp v3 set id 2 username lancsnet security-level noAuthNoPriv
!
firewall-zone set id 1
 set name lan
 set list-network "lan, lan_111"
 set policy-input accept
 set policy-output accept
 set policy-forward accept
 set masquerade disable
 set mtu-fix disable
 confirm
 exit
!
ip-object set object name LAN_111 address 192.168.111.0/24
!
ip-object set object name ips4 address 172.111.45.1
!
ip-object set object name vu address 192.168.18.101
!
ip6-object set object name ips6 address bdad:2dd1:2fb2:7ff1:3442:3d0b:16e9:7132
!
firewall-policy set id j84E
 set name Allow-lan-to-wan_copy
 set source-zone lan
 set dest-zone wan
 set log disable
 set port-object ALL_ICMP,ALL_TCP,ALL_UDP
 set target accept
 set status enable
 confirm
 exit
!
app-policy set block_insta
 set type applications
 set application instagram
 set action block
 exit
!
app-policy set block_tiktok
 set type applications
 set application tiktok
 set day Sat,Sun
 set action block
 exit
!
app-policy set block_youtube
 set type applications
 set application youtube
 set action block
 exit
!
app-policy set instagram
 set type applications
 set application instagram
 set action block
 exit
!
app-policy set tiktok
 set type applications
 set application tiktok
 set action block
 exit
!
app-policy set youtube
 set type applications
 set application youtube
 set action block
 exit
!
app-scenario set Entertainment
 set comment "Block Entertainment on weekend"
 set list_policy block_youtube,block_insta,block_tiktok
 exit
!
app-scenario set HR_Policy
 set comment "HR Department's network policy"
 set list_policy Backlist,Messenger
 exit
!
app-scenario set Sale_Policy
 set comment "Sale Department's network policy"
 set list_policy Backlist,Games,Messenger
 exit
!
app-scenario set Technical_policy
 set comment "Technical Department's network policy"
 set list_policy Backlist
 exit
!
app-policy delete Entertainment
!
app-policy delete block_instagram
!
app-policy delete instagram
!
app-policy delete tiktok
!
app-policy delete youtube
!
app-scenario delete Stop_uisng_youtube
!
set tranfer_call blindxfer number *1
!
mode voice-mail
 set maxlogins 100
 set maxmsg 100
 set maxsecs 100
 set minsecs 100
 set number_voicemail 100
 confirm
 exit
!
confirm
!
exit
#